<div>
    <h2 translate="mozhotelsApp.instanceFacility.home.title">InstanceFacilities</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="instance-facility.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="mozhotelsApp.instanceFacility.home.createLabel">
                        Create new InstanceFacility
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'mozhotelsApp.instanceFacility.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="instanceFacilityName"><span translate="mozhotelsApp.instanceFacility.instanceFacilityName">InstanceFacilityName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="mozhotelsApp.instanceFacility.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantity"><span translate="mozhotelsApp.instanceFacility.quantity">Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="area"><span translate="mozhotelsApp.instanceFacility.area">Area</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span translate="mozhotelsApp.instanceFacility.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="instanceFacilityType.instanceFacilityTypeName"><span translate="mozhotelsApp.instanceFacility.instanceFacilityType">instanceFacilityType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="instanceTur.instanceTurName"><span translate="mozhotelsApp.instanceFacility.instanceTur">instanceTur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="instanceFacility in vm.instanceFacilities track by instanceFacility.id">
                    <td><a ui-sref="instance-facility-detail({id:instanceFacility.id})">{{instanceFacility.id}}</a></td>
                    <td>{{instanceFacility.instanceFacilityName}}</td>
                    <td>{{instanceFacility.description}}</td>
                    <td>{{instanceFacility.quantity}}</td>
                    <td translate="{{'mozhotelsApp.FInstanceArea.' + instanceFacility.area}}">{{instanceFacility.area}}</td>
                    <td>{{instanceFacility.price}}</td>
                    <td>
                        <a ui-sref="instance-facility-type-detail({id:instanceFacility.instanceFacilityType.id})">{{instanceFacility.instanceFacilityType.instanceFacilityTypeName}}</a>
                    </td>
                    <td>
                        <a ui-sref="instance-tur-detail({id:instanceFacility.instanceTur.id})">{{instanceFacility.instanceTur.instanceTurName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="instance-facility-detail({id:instanceFacility.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="instance-facility.edit({id:instanceFacility.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="instance-facility.delete({id:instanceFacility.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
