
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInstancePolicyLabel" translate="mozhotelsApp.instancePolicy.home.createOrEditLabel">Create or edit a InstancePolicy</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.instancePolicy.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mozhotelsApp.instancePolicy.instancePolictyName" for="field_instancePolictyName">InstancePolictyName</label>
            <input type="text" class="form-control" name="instancePolictyName" id="field_instancePolictyName"
                    ng-model="vm.instancePolicy.instancePolictyName"
                    required />
            <div ng-show="editForm.instancePolictyName.$invalid">
                <p class="help-block"
                    ng-show="editForm.instancePolictyName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mozhotelsApp.instancePolicy.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.instancePolicy.description"
                     />
        </div>

        <div class="form-group">
            <label translate="mozhotelsApp.instancePolicy.instancePolicyType" for="field_instancePolicyType">instancePolicyType</label>
            <select class="form-control" id="field_instancePolicyType" name="instancePolicyType" ng-model="vm.instancePolicy.instancePolicyType" ng-options="instancePolicyType as instancePolicyType.instancePolicyTypeName for instancePolicyType in vm.instancepolicytypes track by instancePolicyType.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="mozhotelsApp.instancePolicy.instanceTur" for="field_instanceTur">instanceTur</label>
            <select class="form-control" id="field_instanceTur" name="instanceTur" ng-model="vm.instancePolicy.instanceTur" ng-options="instanceTur as instanceTur.instanceTurName for instanceTur in vm.instanceturs track by instanceTur.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
