<div>
    <h2 translate="mozhotelsApp.instanceRoomType.home.title">InstanceRoomTypes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="instance-room-type.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="mozhotelsApp.instanceRoomType.home.createLabel">
                        Create new InstanceRoomType
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'mozhotelsApp.instanceRoomType.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="instanceRoomTypeName"><span translate="mozhotelsApp.instanceRoomType.instanceRoomTypeName">InstanceRoomTypeName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="mozhotelsApp.instanceRoomType.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantity"><span translate="mozhotelsApp.instanceRoomType.quantity">Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="capacityAdults"><span translate="mozhotelsApp.instanceRoomType.capacityAdults">CapacityAdults</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="capacityChildren"><span translate="mozhotelsApp.instanceRoomType.capacityChildren">CapacityChildren</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span translate="mozhotelsApp.instanceRoomType.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="photoPrincipal"><span translate="mozhotelsApp.instanceRoomType.photoPrincipal">PhotoPrincipal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="instanceTur.instanceTurName"><span translate="mozhotelsApp.instanceRoomType.instanceTur">instanceTur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="instanceRoomType in vm.instanceRoomTypes track by instanceRoomType.id">
                    <td><a ui-sref="instance-room-type-detail({id:instanceRoomType.id})">{{instanceRoomType.id}}</a></td>
                    <td>{{instanceRoomType.instanceRoomTypeName}}</td>
                    <td>{{instanceRoomType.description}}</td>
                    <td>{{instanceRoomType.quantity}}</td>
                    <td>{{instanceRoomType.capacityAdults}}</td>
                    <td>{{instanceRoomType.capacityChildren}}</td>
                    <td>{{instanceRoomType.price}}</td>
                    <td>
                        <img data-ng-src="{{'data:' + instanceRoomType.photoPrincipalContentType + ';base64,' + instanceRoomType.photoPrincipal}}" style="max-height: 30px;" ng-if="instanceRoomType.photoPrincipal"/> {{instanceRoomType.photoPrincipalContentType}} {{byteSize(instanceRoomType.photoPrincipal)}}
                    </td>
                    <td>
                        <a ui-sref="instance-tur-detail({id:instanceRoomType.instanceTur.id})">{{instanceRoomType.instanceTur.instanceTurName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="instance-room-type-detail({id:instanceRoomType.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="instance-room-type.edit({id:instanceRoomType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="instance-room-type.delete({id:instanceRoomType.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
